.max-page{
    padding: 50px 8%;
}

.voltar{
    text-decoration: none;
    color: #3b0010;
    font-weight: 600;
}

.max-container{
    display: flex;
    gap: 40px;
    margin-top: 30px;
    align-items: flex-start;
}

.max-imagens{
    width: 55%;
}

.imagem-principal{
    width: 100%;
    border-radius: 10px;
}

.miniaturas{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.miniaturas img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.max-info{
    width: 45%;
}

.max-info h1{
    font-size: 32px;
    color: #3b0010;
}

.sexo{
    color: #888;
}

.max-info h3{
    margin-top: 20px;
}

.max-info p{
    margin-top: 10px;
    line-height: 1.6;
}

.btn-adotar{
    display: inline-block;
    margin-top: 20px;
    color: #16b5a6;
    font-weight: 700;
    text-decoration: none;
}

.infos{
    margin-top: 20px;
}

.infos p{
    margin-top: 5px;
}

@media (max-width: 900px){
    .max-container{
        flex-direction: column;
    }

    .max-imagens,
    .max-info{
        width: 100%;
    }
}